header {
  height: var(--header-height);
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hamburger {
  background-color: transparent;
  border: none;
  font-size: 30px;
  cursor: pointer;
  color: #000000;
}
.pofile-text {
  display: flex;
  align-items: center;
  gap: 14px;
}
.pofile-text p {
  color: var(--grayscale-black);
  text-align: right;
  font-size: 14px;
  font-family: Mulish;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.2px;
}
.pofile-text img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
